* {
    margin: 0px;
    padding: 0px;
}

/* header styling  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav-logo {
    padding: 2px 15px;
}

.nav-link-container {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    font-size: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* main body styling  */
.bg-video {
    width: 100vw;
}

/* .div-container {
    text-align: center;
    position: relative;
    top: 10vh;
    left: 50%;
    z-index: 1;
} */

/* .main-content {
    background-color: red!important;
    position: absolute;
    z-index: 2;
} */

/* services styling  */

.service-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.services-content-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card {
    font-size: 10px;
}

.service-card-heading {
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight:bolder;
    color: #435873;
}