* {
    margin: 0px;
    padding: 0px;
}

/* header styling  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.nav-logo {
    padding: 2px 15px;
}

.nav-link-container {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    font-size: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* main body styling  */
.bg-video {
    width: 100vw;
}

/* .div-container {
    text-align: center;
    position: relative;
    top: 10vh;
    left: 50%;
    z-index: 1;
} */

/* .main-content {
    background-color: red!important;
    position: absolute;
    z-index: 2;
} */

/* services styling  */

.service-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.services-content-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card {
    font-size: 10px;
    border-radius: 0px;
}

.card-img-top {
    border-radius: 0px;
}

.service-card-heading {
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight:bolder;
    color: #435873;
}

/* about  */
.about {
    display: flex;
}

.about-heading {
    text-align: center;
    margin: 35px;
}

.about-paragraph {
    padding: 0px 10px 10px 50px;
    font-size: 12px;
}

.project-numbers {
    display: flex;
}

.project-box {
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
    margin: 30px;
}

.projects-heading {
    text-align: center;
    margin: 30px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gall {
    width: 300px;
    margin: 10px;
}

.client-heading {
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;
}

.sponser-container {
    display: flex;
    justify-content: space-evenly;
}

.sponsers {
    text-align: center;
    padding: 40px;
    font-size: 14px;
}

.contact-heading {
    text-align: center;
    margin: 30px;
}

.contact-vid {
    width: 85vw;
}

.map {
    text-align: center;
}