* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}
.heading-disc-about {
    display: flex;
    align-items: center;
    background-color: white;
}
.disc-img {
    width: 20rem;
    margin: 20px 20px 0px 20px;
}
.heading-first-about {
    margin-top: 130px;
    text-align: center;
}
.heading-about-second {
    /* text-align: center;
    width: 20%; */
    font-weight: bolder;
    color: darkslategray;
}
.para {
    font-size: 23px;
}
.line {
    border: 2px solid black;
    width: 65vw;
}
.logo-about {
    width: 6vw;
}
.logo2 {
    width: 10vw;
}
.aboutbadge {
    margin: -10px 0px 0px 20px !important;
}
.logo-container {
    display: flex;
    justify-content: space-around !important;
    /* align-items: center; */
    margin: 40px auto;
}
.container1, .container2, .container3 {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* text-align: center; */
}
.content-logo {
    margin: 10px;
}
.front-logo-container {
    text-align: center;
    position: absolute;
    top: 20vh;
    left: 20vw;
}

.front-logo {
    position: absolute;
    color: white;
    font-size: 60px;
    width: 60vw;
    z-index: 1;
}

.badges {
    height: 8px;
    width: 80px;
    background-color: orange;
    margin: 20px auto;
}

.nav-link:hover {
    font-weight: 500;
    color: midnightblue;
    border-bottom: 2px solid midnightblue;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0px;
    background: linear-gradient(15deg, rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    max-width: 100vw;
}

li {
    color: black;
}

ul {
    margin-bottom: 0px;
}

.logo {
    margin: 6px 0px;
    width: 100px;
}

.logo-img {
    padding-left: 1rem;
    width: 100px;
}

.nav-link-container {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.nav-dropdown {
    display: none;
}

/* main body styling  */
.bg-video {
    overflow: hidden;
    width: 100%;
    min-height: 50rem;
    object-fit: fill;
    filter: blur(2px);
}
#carouselExampleSlidesOnly {
    margin: 0;
}
.carousel {
    margin: 30px 0px;
}
.corosal {
    width: 80vw !important;
    margin-left: 10vw;
}

.div-container {
    text-align: center;
    position: relative;
    top: 10vh;
    left: 50%;
    z-index: 1;
}

.main-content {
    background-color: red!important;
    position: absolute;
    z-index: 2;
}

/* services styling  */
.service-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}

.services-content-container {
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 60px;
}

.card {
    font-size: 1rem;
    border-radius: 0px;
    width: 25vw !important;
}

.card-img-top {
    border-radius: 0px;
}

.service-card-heading {
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight:bolder;
    font-size: 1.5rem;
    color: #435873;
}
h1.about-heading {
    margin-top: 4rem;
}

about-heading {
    text-align: center;
    margin: 3px 20px;
}
h2 {
    text-align: center;
    margin: 15px;
}
h2.about-heading {
    margin: 50px auto;
    display: inline;
}
p.about-paragraph.container {
    margin-bottom: 50px;
}
.videobar {
    /* margin: 1px 1px; */
    /* width: 10%; */
    /* margin-bottom: 30px; */
    width: 98%;
    /* margin-top: 9.7rem; */
}
p.about-paragraph {
    margin: 2rem auto !important;
}
.image-amrit-mall {
    height: 130vh;
    width: 55vw;
    margin: 40px 40px 40px 110px;
}
/* about  */
.about {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.amrit-image {
    width: 55%;
}
.aboutamrit {
    display: flex;
    /* justify-content: space-between; */
    margin: auto 20px;
}
.owner-image {
    width: 45vw;
    padding: 10px;
}
.about-content {
    width: 40vw;
    align-self: center;
    margin-left: 3rem;
}
.about-contents {
    /* margin-left: 3rem; */
    width: 100% ;
    /* margin: auto; */
}
.ownerbadge {
    width: 250px;
    /* text-align: left; */
    /* margin: 0px; */
    margin-left: 0px;
    margin-top: -20px;
}
.about-paragraph {
    font-size: 1.1rem;
}

.about-image {
    /* width: 100%; */
    align-self: center;
}
/* achievements  */
.achievements-numbers {
    display: flex;
    min-height: 150px;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.achievements-box {
    font-weight: 500;
    text-align: center;
    font-size: 1.1rem;
    width: 25vw;
    margin: 30px auto;
}

.projects-heading {
    text-align: center;
    margin: 30px;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gallery-container {
    margin: 20px;
}
.gallery {
    width: 25rem;
    margin: 10px;
    max-width: 90vw;
}

.gallery-para {
    margin: -5px 20px 20px 20px;
    font-size: 1rem;
}

.client-heading {
    text-align: center;
    padding-top: 40px;
    margin-top: 30px;
}

.sponser-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.clients {
    min-height: 160px;
}

.sponsers {
    text-align: center;
    font-size: 12px;
    margin: 12px;
}

.contact-heading {
    text-align: center;
    margin: 30px;
}

.contact-vid {
    width: 85vw;
}

.map {
    height: 30vh;
    width: 70vw;
    text-align: center;
}

.mapcont {
    text-align: center;
}

.copyright {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.contact-form {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto;
}

h3 {
    margin: 25px 25px 25px 0px;
    color: darkslategray;
}

.Contact-us-form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin: 4px;
}

.submit-form {
    margin: 20px auto;
    width: 150px;
}

/* for tablet version */
@media (width <= 768px) {
    /* Changed font-size to 30 pixels to make it tablet friendly. Phillip Andrews*/
    .overhead-content {
        font-size: 30px;
    }
    .nav-dropdown {
        display: inline-block;
        margin-right: 20px;
    }
    .nav-link-container {
        display: none;
    }
    .bg-video {
        min-height: 45rem;
    }
    /* about  */
    .about {
        flex-direction: column;
    }
    .aboutamrit {
        flex-direction: column;
    }
    .amrit-image {
        width: 100%;
    }
    .owner-image {
        width: 90vw;
        margin: 5vw;
        padding: 0px;
    }
    .about-content {
        width: 80vw;
        margin: 0px;
        padding: 0px;
    }
    .about-paragraph {
        margin: 0px !important;
        /* display: inline; */
        padding: 0;
    }
    .about-image {
        width: 100%;
        margin-bottom: 2rem;
    }
    .services-content-container {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    .card {
        margin: 20px;
    }
    .about-heading {
        margin-bottom: 20px;
    }
    .about-paragraph {
        font-size: 1rem;
    }
    .card {
        width: 80vw !important;
    }
    .contact-form {
        flex-direction: column;
    }
    .firstpara, .secondpara {
        width: 80%;
        margin: auto;
    }
    .call-btn {
        font-size: 1.25rem;
    }
    .copyright {
        font-size: 12px;
    }
    .videobar {
        width: 90% !important;
    }
    .about-contents {
        /* margin-left: 3rem; */
        width: 90vw;
        /* margin: auto; */
    }
}

/* for mobile version */
@media (width <= 480px) {
    /* about  */
    .about-heading {
        margin-top: 40px;
    }
    /* Changed font-size to 24 pixels to make it mobile friendly. Phillip Andrews*/
    .overhead-content {
        font-size: 24px;
    }
    .nav-dropdown {
        display: inline-block;
        margin-right: 15px;
    }
    .about-paragraph {
        /* margin-left: 30vw; */
        margin-bottom: 30px !important;
    }
    /* about - video of mall  */
    .bg-video {
        min-height: 30rem;
    }
    /* achievements  */
    .achievements-box {
    width: 50vw;
    }
    /* contact page  */
    .contact-form {
    margin: 1rem auto;
    }
    /* copyright footer  */
    .copyright {
        font-size: 10px;
    }
    .ownerbadge {
        width: 60vw;
    }
}